<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="publi.xz.com.smartcoupon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SettingActivity"></activity>
        <activity
            android:name=".ui.InitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitle" />
        <activity
            android:name=".ui.Top100Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.Baoyou9_9Activity" />
        <activity
            android:name=".ui.DetailsActivityV2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>